* {
    font-family: Arial;
    text-align: center;
}
p {
    font-size: 28px;
}
.panel {
    display: flex;
    justify-content: center;
}
.panelbtn {
    margin: 10px 30px 10px 30px;
    font-size: 36px;
    text-decoration: none;
    color: black;
}
.panelbtn:hover {
    text-decoration: underline;
}